.curator {
    border: 1px solid $secondary;
    @extend .rounded;
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    &__title {
        font-size: $h4-font-size;
        font-weight: $font-weight-bolder;
        margin-bottom: 1.5rem;
    }
}
.expert {
    display: flex;
    flex-direction: column;
    @extend %unstyled;
    &-image {
        @include circle(100px);
        background-image: url(../img/photo_user.svg);
        @include back-image;
        flex-shrink: 0;
        margin-bottom: 1rem;
    }
    &-name {
        font-weight: $font-weight-bold;
        font-size: 1.1rem;
        line-height: 1.4;
        margin-bottom: .8rem;
    }
    &-post {
        font-size: $font-size-sm;
        margin-bottom: .8rem;
    }
}
