.score {
    @include back-color($secondary);
    @extend .rounded;
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    &__title {
        font-size: $h4-font-size;
        font-weight: $font-weight-bolder;
        line-height: $headings-line-height;
        margin-bottom: .8rem;
    }
    &__count {
        font-size: 4.3rem;
        font-weight: $font-weight-bolder;
    }
    &__text {
        margin-bottom: 1.5rem;
    }
    &__footer {
        position: relative;
        padding-top: 1.5rem;
        &:before {
            content: '';
            display: block;
            width: 50%;
            height: 1px;
            background-color: $white;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
