<header class="header-sticky">
    <nav class="navbar">
        <a class="navbar-brand" href="#top">
            <div class="small">марафон здорового питания</div>
            <div class="navbar-brand-text">100 дней здоровья</div>
        </a>
        <div class="navbar-account">
            <button type="button" class="btn" data-bs-target="#authorization" data-bs-toggle="modal">
                <span>Войти</span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav" id="scrollSpy">
                <li class="nav-item">
                    <a class="nav-link" href="#about">О марафоне</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#program">Программа</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">Команда</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experts">Эксперты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacts">Контакты</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
