<header>
    <nav class="navbar">
        <a class="navbar-brand" href="/">
            <div class="small">марафон здорового питания</div>
            <div class="navbar-brand-text">100 дней здоровья</div>
        </a>
        <div class="navbar-feedback">
            <button type="button" class="btn" data-bs-target="#feedback" data-bs-toggle="modal"></button>
        </div>
        <div class="navbar-account">
            <button type="button" class="btn btn-user" data-bs-toggle="dropdown"></button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item active" href="#">Мой профиль</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Дневник здоровья</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Моя активность</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Мои задания</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Выход</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">О марафоне</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Мой профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Дневник здоровья</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Моя активность</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Мои задания</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="header">
        <div class="header__title">Личный кабинет участника</div>
        <div class="header__feedback">
            <button type="button" class="btn" data-bs-target="#feedback" data-bs-toggle="modal">обратная связь</button>
        </div>
    </div>
</header>
