<div class="row">
    <div class="aside-col">
        <div class="score">
            <div class="score__title">
                Ваши баллы марафона
            </div>
            <div class="score__count">24</div>
            <div class="score__text">
                Участвуйте в марафоне, зарабатывайте баллы и получите шанс выиграть тостер Tefal.
            </div>
            <div class="score__footer">
                <b>Подсказка:</b> чтобы получить еще больше баллов, заполните в профиле поля "Отчество" и "Телефон".
            </div>
        </div>
    </div>

    <div class="aside-col">
        <div class="curator">
            <div class="curator__title">
                Ваш куратор
            </div>
            <div class="expert">
                <div class="expert-image" style="background-image: url(img/temp/expert.jpg)"></div>
                <div class="expert-name">
                    Марципанова<br>Валентина Валерьевна
                </div>
                <div class="expert-post">
                    Мастер спорта по фигурному катанию на лыжах
                </div>
                <div class="expert-contact">
                    +79331736161
                </div>
                <div class="expert-contact">
                    <a href="mailto:krtr103@marafon.ru">krtr103@marafon.ru</a>
                </div>
            </div>
        </div>
    </div>
</div>
